
Shapy.xcodeproj/project.xcworkspace/xcuserdata/damienrifflart.xcuserdatad/UserInterfaceState.xcuserstate
Shapy/SettingsView.swift
Shapy/PausedView.swift
Shapy/LandingView.swift
Shapy/DataManager.swift
Shapy/Assets.xcassets/AppIcon.appiconset/shapylogo.png
Shapy/Assets.xcassets/AccentColor.colorset/Contents.json
Shapy/.DS_Store
Shapy.xcodeproj/project.xcworkspace/xcuserdata/damienrifflart.xcuserdatad/UserInterfaceState.xcuserstate
Shapy.xcodeproj/project.pbxproj
Media.xcassets/mockup.imageset/Iphone.png
Media.xcassets/mockup.imageset/Contents.json
Media.xcassets/flame.imageset/flame.png
Media.xcassets/flame.imageset/Contents.json
Media.xcassets/Contents.json
Media.xcassets/AppIcon.appiconset/test.png
Media.xcassets/AppIcon.appiconset/Contents.json
Media.xcassets/.DS_Store
Graphics/test.png
Graphics/.DS_Store
.DS_Store
